<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <form [formGroup]="myForm" (ngSubmit)="applyFilter()">
          <c-row ngPreserveWhitespaces>
            <c-col [md]="3" class="mb-4">
              <label cLabel for="BrancheName">Branch Name</label>
              <input cFormControl id="BrancheName" type="text" formControlName="BrancheName">
            </c-col>

            <!-- <c-col [md]="3" class="mb-4">
              <label cLabel for="addedByUserName">Username</label>
              <input cFormControl id="addedByUserName" type="text" formControlName="Username">
            </c-col> -->

            <c-col [md]="2" class="mb-4">
              <button cButton type="submit">Filter</button>
              <button cButton type="button" (click)="clearFilter()">Clear</button>
            </c-col>
          </c-row>
        </form>
      </c-card-header>

      <c-card-body>
        <button cButton color="success" [routerLink]="['/branch/add']">Create</button>
        <table cTable>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Branch Name</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let oneBranch of BranchesData">
              <tr>
                <th scope="row">{{oneBranch.id}}</th>
                <td>{{oneBranch.brancheName}}</td>
                <!-- <td>{{oneBranch.addedByUserId}}</td> -->
                <td>
                  <button cButton color="warning" (click)="navigateToUpdate(oneBranch.id)">Update</button>
                  <button cButton color="danger" title="Delete" (click)="deleteBranch(oneBranch)">Delete</button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <button cButton (click)="onPageChange(pageNumber - 1)" [disabled]="isFirstPage()">Previous</button>
        <span>Page {{pageNumber}}</span>
        <button cButton (click)="onPageChange(pageNumber + 1)" [disabled]="isLastPage()">Next</button>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
