<!--<c-header class="mb-4 d-print-none" position="sticky">-->
<ng-container>
  <c-container [fluid]="true">
    <button
      toggle="visible"
      cHeaderToggler
      [cSidebarToggle]="sidebarId"
      class="ps-1"
    >
      <svg cIcon
        name="cilMenu"
        size="lg"
      ></svg>
    </button>
    <c-header-nav class="d-none d-lg-flex me-auto">

      <div style="display: flex;">

        <!-- operator -->
        <c-nav-item *ngIf="userRole === 'operator'">
          <a cNavLink routerLink="/products/goodsin" routerLinkActive="active">GoodsIn</a>
        </c-nav-item>
        
        <c-nav-item *ngIf="userRole === 'operator'">
          <a cNavLink routerLink="/products/goodsout" routerLinkActive="active">GoodsOut</a>
        </c-nav-item>
        
        <c-nav-item *ngIf="userRole === 'operator' || userRole === 'manager'">
          <a cNavLink routerLink="/products" routerLinkActive="active">Products</a>
        </c-nav-item>
      
        <!-- manager -->
        <c-nav-item *ngIf="userRole === 'manager'">
          <a cNavLink routerLink="/manager/goodsin" routerLinkActive="active">GoodsIn</a>
        </c-nav-item>
        
        <c-nav-item *ngIf="userRole === 'manager'">
          <a cNavLink routerLink="/manager/goodsout" routerLinkActive="active">GoodsOut</a>
        </c-nav-item>


        <!-- administrator -->
        <c-nav-item *ngIf="userRole === 'administrator'">
          <a cNavLink routerLink="/dashboard" routerLinkActive="active">dashboard</a>
        </c-nav-item>

        <c-nav-item *ngIf="userRole === 'administrator'">
          <a cNavLink routerLink="/branch" routerLinkActive="active">branch</a>
        </c-nav-item>
        
        <c-nav-item *ngIf="userRole === 'administrator'">
          <a cNavLink routerLink="/user" routerLinkActive="active">user</a>
        </c-nav-item>
      
      
      
      </div>
      
        
      
    </c-header-nav>

    <c-header-nav class="d-none d-lg-flex">
      
    </c-header-nav>
    <c-header-nav class="ms-3">
      <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
    </c-header-nav>

  </c-container>
  <c-header-divider></c-header-divider>
  <c-container [fluid]="true">
    <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
  </c-container>
</ng-container>
<!--</c-header>-->

<ng-template #userDropdown>
  <c-dropdown alignment="end" variant="nav-item">
 
   
  </c-dropdown>
</ng-template>

