<div class="container py-5">
    <div class="text-center mb-5">
        <h1 class="display-5">Registration</h1>
    </div>
    <div class="bg-white border rounded p-5">
        <form [formGroup]="registrationForm" (ngSubmit)="signUp(registrationForm)" class="row g-3">
            <div class="col-md-6">
                <label for="OrganizationName" class="form-label">Organization Name</label>
                <input type="text" class="form-control" id="OrganizationName" formControlName="OrganizationName" placeholder="Organization Name">
            </div>
            <div class="col-md-6">
                <label for="Address" class="form-label">Address</label>
                <input type="text" class="form-control" id="Address" formControlName="Address" placeholder="Address">
            </div>
            <div class="col-12">
                <label for="Email" class="form-label">Email</label>
                <input type="email" class="form-control" id="Email" formControlName="Email" placeholder="Email">
            </div>
            <div class="col-md-6">
                <label for="FirstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="FirstName" formControlName="FirstName" placeholder="First Name">
            </div>
            <div class="col-md-6">
                <label for="LastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="LastName" formControlName="LastName" placeholder="Last Name">
            </div>
            <div class="col-12">
                <label for="UserName" class="form-label">Username</label>
                <input type="text" class="form-control" id="UserName" formControlName="UserName" placeholder="Username">
            </div>
            <div class="col-12">
                <label for="Password" class="form-label">Password</label>
                <input type="password" formControlName="Password" class="form-control" id="Password"
                       placeholder="Password" (focus)="passwordFocused = true" (blur)="passwordFocused = false">
                       
                <div *ngIf="passwordFocused">
                    <div [class.valid]="hasUpper(registrationForm.get('Password').value)"
                         [class.error-message]="!hasUpper(registrationForm.get('Password').value)">
                        Must contain an uppercase letter
                    </div>
                    <div [class.valid]="hasLower(registrationForm.get('Password').value)"
                         [class.error-message]="!hasLower(registrationForm.get('Password').value)">
                        Must contain a lowercase letter
                    </div>
                    <div [class.valid]="hasNumeric(registrationForm.get('Password').value)"
                         [class.error-message]="!hasNumeric(registrationForm.get('Password').value)">
                        Must contain a number
                    </div>
                    <div [class.valid]="hasSymbol(registrationForm.get('Password').value)"
                         [class.error-message]="!hasSymbol(registrationForm.get('Password').value)">
                        Must contain a special character
                    </div>
                </div>
            </div>
            <div class="col-12">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password">
            </div>
            <div >
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </div>
            <div class="col-md-6">
            <button class="btn btn-primary mt-3" routerLink="/signin">
                already register? log in!
            </button>
        </div>
        </form>
    </div>
</div>
