<c-row>
    <c-col xs="12">

        <c-card class="mb-4">
            
          <c-card-header ngPreserveWhitespaces>
            <strong>Create a user</strong>
          </c-card-header>

          <!-- //cardbody -->
          <c-card-body>

            <form cForm class="row g-3" [formGroup]="myForm" (ngSubmit)="updateBranch(myForm)">

    
            

                <c-col [xs]="12">
                  <label cLabel for="inputAddress">branchName</label>
                  <input cFormControl id="inputEmail4" type="email"  formControlName="branchName" [(ngModel)]="DataForUpdate.brancheName">
                </c-col>

                <c-col [xs]="12">
              
                </c-col>
                <c-col [xs]="12">
                  <button cButton type="submit">Sign in</button>
                </c-col>
              </form>

              
          </c-card-body>
        </c-card>
    </c-col>
</c-row>
  